<app-navbar></app-navbar>

<div class="container">

  <app-sidebar></app-sidebar>
  <app-page-content></app-page-content>
  
</div>
  
    <!-- 
  <div class="container">
    <h1>MANUAL DE PRÁCTICAS</h1>
    <p>Elaborado por: <strong>Ailton Artiaga</strong></p>
    <div class="ejercicio">
      <h2>Ejercicio 1:</h2>
      <app-ejercicio-01></app-ejercicio-01>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 2:</h2>
      <app-ejercicio-02></app-ejercicio-02>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 3:</h2>
      <app-ejercicio-03></app-ejercicio-03>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 4:</h2>
      <app-ejercicio-04></app-ejercicio-04>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 5:</h2>
      <app-ejercicio-05></app-ejercicio-05>
    </div>
    <div class="ejercicio">
      <h2>Ejercicio 6:</h2>
      <app-ejercicio-06></app-ejercicio-06>
    </div>
  </div>
</body>
</html>
 -->

