.container {
    background-color: rgb(111, 238, 232);
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

.text {
    color: rgb(226, 0, 0);
    font-size: large;
    font-family: Arial, sans-serif;
    animation: moveText 3s infinite;
}

.User {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: pulse 2s infinite;
}
